.divCard{
  background-color: rgb(199, 37, 37);
  padding: 2em;
  text-decoration: none;
  height: 19em;
  border-radius: 40px 10px;
  border: 3px solid black;
  font-size: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.divCard:hover {
  box-shadow: inset 0 0 5px rgba(2, 2, 2, 0.5), 0 0 50px rgba(0, 0, 0, 0.4);
  /* outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #fff; */
}
.divScreenCard{
  background-color: beige;
  padding: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 15em;
  height: 13em;
  flex-direction: column;
  align-items: center;
}
.pStyle{
  text-decoration: none;
  color: rgb(56, 50, 50);

}
.divCardText{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column
}
.divCardImgText{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.divScreenContorn{
  padding: 7px;
  background-color: gray;
  border: 1px solid rgb(75 68 68);
  border-radius: 5px;
}
.topPokedex_9er8{
  display: flex;
    flex-flow: row-reverse;
}
.circleTopPokedex_red_q7wt{
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 10px;
  border: 1px solid black;
  margin: 4px;
}
.circleTopPokedex_yellow_q7wt{
  width: 10px;
  height: 10px;
  background-color: yellow;
  border-radius: 10px;
  border: 1px solid black;
  margin: 4px;
}
.circleTopPokedex_green_q7wt{
  width: 10px;
  height: 10px;
  background-color: greenyellow;
  border-radius: 10px;
  border: 1px solid black;
  margin: 4px;
  margin-right: 1em;
}
.divBottom{

  display: flex;
  justify-content: space-between;
}
.divbutonBottom_dfg8{
  width: 3em;
  height: 3em;
  background-color: grey;
  border-radius: 3em;
  border: 2px solid black;
  margin: 7px;
  margin-left: 15px;
  margin-top: 13px;
}
.divBottomButtonsab_64re{
  display: flex;
  flex-flow: row;
}
.divbuttonA_k1l2{
  display: flex;
  justify-content: center;
  background-color: grey;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin: 10px;
  margin-top: 26px;
  border: 1px solid black;
}
.divbuttonB_s1r2{
  display: flex;
  justify-content: center;
  background-color: grey;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin: 10px;
  margin-right: 15px;
  margin-top: 18px;
  border: 1px solid black;
}
.imgCard_7r9y{
  height: 9em;
  width: 9em;
}