.divCard_qw14{
  background-color: rgb(199, 37, 37);
  padding: 2em;
  text-decoration: none;
  width: 40em;
  height: 35em;
  border-radius: 40px 10px;
  border: 3px solid black;
}
.divScreenCard_a6fza{
  background-color: beige;
  padding: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 38em;
  height: 25em;
  align-items: center;
  flex-direction: column;
}
.pStyle{
  text-decoration: none;
  color: rgb(56, 50, 50);

}
.divScreenContorn_w87z{
  padding: 7px;
  background-color: gray;
  border: 1px solid rgb(75 68 68);
  border-radius: 5px;
}
.divTotal_1x79l{
  display: flex;
  justify-content: center;
  padding: 4em;
}
.divScreenContorn_w8er{
  padding: 7px;
  background-color: gray;
  border: 1px solid rgb(75 68 68);
  border-radius: 5px;
}
.input_e7a8{
  margin: 8px;
}
.labelError_qw78{
  color: red;
  font-size: 10px;
}