
.divCard_qw78{
  background-color: rgb(199, 37, 37);
  padding: 2em;
  text-decoration: none;
  font-size: 20px;
  height: 27em;
  border-radius: 40px 10px;
  border: 3px solid black;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.divScreenCard_a6f4s{
  background-color: beige;
  padding: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 19em;
  height: 19em;
  align-items: center;
  flex-direction: column;
}
.pStyle{
  text-decoration: none;
  color: rgb(56, 50, 50);

}
.divCardText_7qt8{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column
}
.divCardImgText_4j5g{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.divScreenContorn{
  padding: 7px;
  background-color: gray;
  border: 1px solid rgb(75 68 68);
  border-radius: 5px;
}
.divTotal_1xjk{
  display: flex;
  justify-content: center;
  padding: 4em;
}
.divScreenContorn_w8er{
  padding: 7px;
  background-color: gray;
  border: 1px solid rgb(75 68 68);
  border-radius: 5px;
}
.divDeAbajo_79fd{
  display: flex;
  justify-content: center;
}
.buttonClose_u5o3{
  margin-top: 5px;
  background-color: gray;
  border: 1.5px solid black;
  border-radius: 2px;
  text-decoration: none;
  color: rgb(56, 50, 50);
}
.buttonClose_u5o3:hover {
  box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #fff;
}
.img_qw79{
  padding: 1em;
  height: 9em;
  width: 9em;
}
