.divNav{
  padding: 5px;   
  background-color: rgb(199, 37, 37);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text{
  text-decoration: none;
  color: white;
  font-size: 2em;
}
.imgLogo_9wtu{
  width: 7em;
  height: 3em;
}